*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #f4f4f4;
 }
  header {
    background: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;

  }
   nav ul {
    list-style: none;
    display: flex;
   }

   nav ul li {
    margin: 0 15px;
   }
    nav ul li a {
        color: white;
        text-decoration: none;
    }
     #globe-contaner {
        position: relative;
        height: 400px;
        background: #222;
     }
      .search-box {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
      }

      .search-box input {
        padding: 10px;
        font-size: 16px;
      }
      .search-box button {
        padding: 10px;
        border: none;
        cursor: pointer;
        background: #ff9800;
      }
      #suggestions {
          padding: 20px;
      }
      .destination {
        background: white;
        padding: 15px;
        width: 300px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.5s;

      }
      .destination img {
        width: 100%;
        border-radius: 8px;
        transform: rotate(360deg);
    
      }

      .dis2 {
        background: white;
        padding: 15px;
        width: 300px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        
        border-radius: 10px;
        width: 350px;
        padding: 35px;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: 520px;
        right: 0;
        
      }
      .dis2 img {
        width: 100%;
        border-radius: 8px;
        justify-content: end;
        align-items: center;

      }

       footer{
        background: #333;
        color: white;
        padding: 150px;
        margin-top: 20px;
         display: flex;
         justify-content: space-evenly;
         align-items: center;
        position: relative;
        gap: 10px;
        
       }
       .soal {
        background: blue;
        box-shadow: 0 0 10px;
        border-radius: 10px;
        width: 350px;
        padding: 35px;
        justify-content: flex-end;
        align-items: flex-start;
        position: absolute;
        top: 0;
        right: 0;
        
       }
       .footer-content {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       gap: 20px;
       }
       .footer-content div {
        width: 45%;
        text-align: center;
       }